.layout {
  display: flex;
  flex-direction: column;
}
.navigation-sidebar {
  z-index: 1;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: #0b1929;
  color: rgb(232, 232, 232);
}

.profile-display {
  display: flex;
  margin: 1rem;
}
.profile__image {
  /* place-self: center; */
  display: none;
  justify-self: center;
  align-self: center;
}

.profile__welcome-message,
.profile__number {
  place-self: flex-start;
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-around;

  padding: 1rem;
}
.bottom-nav {
  width: 100%;
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
}

@media (min-width: 1000px) {
  .layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  .navigation-sidebar {
    position: -webkit-sticky;
    position: sticky;
    display: block;
    left: 0;
  }
  .profile-display {
    padding: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.13);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .profile__welcome-message,
  .profile__number {
    display: block;
  }
  .navbar {
    flex-direction: column;
    justify-content: none;
  }
}
@media (min-width: 750px) {
  .navigation-sidebar {
    height: auto;
    z-index: 2;
  }
}
